CaffeineBot.json
{
  "name": "My workflow 1",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        -112
      ],
      "id": "52650c57-59ab-4ada-9b00-01daac06c7a3",
      "name": "Telegram Trigger",
      "webhookId": "6afa3bdc-04f6-4a67-a0c3-416e18753be3",
      "credentials": {
        "telegramApi": {
          "id": "LFjAYlOrM5q2KtwT",
          "name": "Telegram account REAL"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "46bef9cc-8e4f-46a2-a323-e8f711313468"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "db9a8810-736b-41dd-9eb2-6682d01c9825",
                    "leftValue": "={{ $json.message?.text ?? $json.callback_query?.data }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "150dcabb-9d94-46a0-bc2a-ac4b6c6fad5c",
                    "leftValue": "={{ $json.message?.text ?? $json.callback_query?.data }}",
                    "rightValue": "no",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e35cf983-428a-4394-8dcf-710a05b3e1f1",
                    "leftValue": "={{ $('Telegram Trigger').first().json.callback_query?.data }}",
                    "rightValue": "turkey",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "475a3c01-605a-4125-b465-d612ffc79c29",
                    "leftValue": "={{ $('Telegram Trigger').first().json.callback_query?.data }}",
                    "rightValue": "france",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dee96ba3-7041-470f-9048-1d2d220ac8d1",
                    "leftValue": "={{ $('Telegram Trigger').first().json.callback_query?.data }}",
                    "rightValue": "korea",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f2d3b274-a604-4de4-a41a-b5f899c84674",
                    "leftValue": "={{ $('Telegram Trigger').first().json.callback_query?.data }}",
                    "rightValue": "germany",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -64,
        -192
      ],
      "id": "fec7ca6c-707e-4654-aa9a-54a468507ec0",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message?.chat?.id ?? $json.callback_query?.from?.id }}",
        "text": "Okay! Hier sind deine Nachrichten, die du ab jetzt jeden Morgen pünktlich um 08:30 bekommst!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        256
      ],
      "id": "f63e7ee3-7ab2-47d8-9662-013b36129a8f",
      "name": "Send a text message",
      "webhookId": "bc1623cf-fb4f-4e94-877e-72c0964d6949",
      "credentials": {
        "telegramApi": {
          "id": "LFjAYlOrM5q2KtwT",
          "name": "Telegram account REAL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message?.chat?.id ?? $json.callback_query?.from?.id }}",
        "text": "Möchtest du News von 2 Ländern erhalten?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ja",
                    "additionalFields": {
                      "callback_data": "yes"
                    }
                  },
                  {
                    "text": "Nein",
                    "additionalFields": {
                      "callback_data": "no"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        -576
      ],
      "id": "06363f53-c9ab-444d-90b3-76c53fa38ed0",
      "name": "Send a text message1",
      "webhookId": "1e69a6d6-0d2a-406a-b058-0073ea5c3c49",
      "credentials": {
        "telegramApi": {
          "id": "LFjAYlOrM5q2KtwT",
          "name": "Telegram account REAL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message?.chat?.id ?? $json.callback_query?.from?.id }}",
        "text": "Von welchen Ländern möchtest du News bekommen?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🇹🇷 Türkei",
                    "additionalFields": {
                      "callback_data": "turkey"
                    }
                  },
                  {
                    "text": "🇫🇷 Frankreich",
                    "additionalFields": {
                      "callback_data": "france"
                    }
                  },
                  {
                    "text": "🇰🇷 Südorea",
                    "additionalFields": {
                      "callback_data": "korea"
                    }
                  },
                  {
                    "text": "🇩🇪 Nur Deutschland",
                    "additionalFields": {
                      "callback_data": "germany"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        -432
      ],
      "id": "89c39618-60b8-4e10-81c2-8b360de7dc3c",
      "name": "Send a text message2",
      "webhookId": "a0b93967-3938-4098-a4e8-187915c57c2b",
      "credentials": {
        "telegramApi": {
          "id": "LFjAYlOrM5q2KtwT",
          "name": "Telegram account REAL"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \n  $input.first().json.items.some(i => i.link?.includes('lemonde'))\n  ? \"WICHTIG: Beginne deine Antwort EXAKT mit dieser Zeile:\\n☀️ Guten Morgen! Hier dein tägliches Koffein am Morgen neben deinem Kaffee, viel Spaß beim Lesen!\\n\\nFasse die deutschen Nachrichten in 5 Bulletpoints auf Deutsch zusammen. Bulletpoints: -. Kein einleitender Satz.\\n\\nSchreibe dann EXAKT diese Zeile:\\n\\n————————\\n\\nSchreibe dann EXAKT diese Zeile:\\n🌙 Bonjour! Voici vos actualités du matin avec votre café:\\n\\nFasse die französischen Nachrichten in 5 Bulletpoints auf Französisch zusammen. Bulletpoints: -.\\n\\nHier sind die Artikel:\\n\" + $input.first().json.items.map(i => i.title + \"\\n\" + (i.content || '')).join(\"\\n\\n\")\n  : $input.first().json.items.some(i => i.link?.includes('hurriyet.com.tr'))\n  ? \"WICHTIG: Beginne deine Antwort EXAKT mit dieser Zeile:\\n☀️ Guten Morgen! Hier dein tägliches Koffein am Morgen neben deinem Kaffee, viel Spaß beim Lesen!\\n\\nFasse die deutschen Nachrichten in 5 Bulletpoints auf Deutsch zusammen. Bulletpoints: -. Kein einleitender Satz.\\n\\nSchreibe dann EXAKT diese Zeile:\\n\\n————————\\n\\nSchreibe dann EXAKT diese Zeile:\\n🌙 Günaydın! Sabah kahveni içerken günlük kafein deposunu doldurmak için haberler:\\n\\nFasse die türkischen Nachrichten in 5 Bulletpoints auf Türkisch zusammen. Bulletpoints: -.\\n\\nHier sind die Artikel:\\n\" + $input.first().json.items.map(i => i.title + \"\\n\" + (i.content || '')).join(\"\\n\\n\")\n  : $input.first().json.items.some(i => i.link?.includes('yna.co.kr'))\n  ? \"WICHTIG: Beginne deine Antwort EXAKT mit dieser Zeile:\\n☀️ Guten Morgen! Hier dein tägliches Koffein am Morgen neben deinem Kaffee, viel Spaß beim Lesen!\\n\\nFasse die deutschen Nachrichten in 5 Bulletpoints auf Deutsch zusammen. Bulletpoints: -. Kein einleitender Satz.\\n\\nSchreibe dann EXAKT diese Zeile:\\n\\n————————\\n\\nSchreibe dann EXAKT diese Zeile:\\n🌙 좋은 아침이에요! 커피와 함께하는 아침 뉴스:\\n\\nFasse die koreanischen Nachrichten in 5 Bulletpoints auf Koreanisch zusammen. Bulletpoints: -.\\n\\nHier sind die Artikel:\\n\" + $input.first().json.items.map(i => i.title + \"\\n\" + (i.content || '')).join(\"\\n\\n\")\n  : \"WICHTIG: Beginne deine Antwort EXAKT mit dieser Zeile:\\n☀️ Guten Morgen! Hier dein tägliches Koffein am Morgen neben deinem Kaffee, viel Spaß beim Lesen!\\n\\nFasse die deutschen Nachrichten in 5 Bulletpoints auf Deutsch zusammen. Bulletpoints: -. Kein einleitender Satz.\\n\\nHier sind die Artikel:\\n\" + $input.first().json.items.map(i => i.title + \"\\n\" + (i.content || '')).join(\"\\n\\n\")\n}}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1296,
        -144
      ],
      "id": "5f53d859-b5f1-44a6-ae5c-ba563adc7184",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "stepfun/step-3.5-flash:free",
          "mode": "list",
          "cachedResultName": "stepfun/step-3.5-flash:free"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1296,
        16
      ],
      "id": "9c23aa2c-56cc-43d1-bd54-8dbb6baea8d5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PCT9ICy0r7nyBUXY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        -160
      ],
      "id": "08153843-11b8-4849-8ec6-6d6be0fc8e91",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        16
      ],
      "id": "a360219f-f3a9-46ef-b46f-9cc167561437",
      "name": "Merge2"
    },
    {
      "parameters": {
        "chatId": "6917025945",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1632,
        -144
      ],
      "id": "d08ba17f-c795-4a82-8263-687512e36054",
      "name": "Send a text message6",
      "webhookId": "64b80949-dbef-4575-973e-2adb0de30e49",
      "credentials": {
        "telegramApi": {
          "id": "LFjAYlOrM5q2KtwT",
          "name": "Telegram account REAL"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        -288
      ],
      "id": "22c7c949-7b00-4760-8cd4-16995b401b84",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1088,
        -144
      ],
      "id": "c0ff5d56-9924-4a38-bbd5-15e16b5b241f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "https://www.hurriyet.com.tr/rss/anasayfa",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        400,
        -288
      ],
      "id": "17752a7e-7fec-4265-9d68-cf8a6e979cfa",
      "name": "RSS Turkey"
    },
    {
      "parameters": {
        "url": "https://www.lemonde.fr/rss/une.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        400,
        -144
      ],
      "id": "76b936a0-5126-4fbc-aa2d-e181efd79fb5",
      "name": "RSS France"
    },
    {
      "parameters": {
        "url": "https://en.yna.co.kr/RSS/news.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        400,
        0
      ],
      "id": "7bffdfe5-205b-4e6a-8958-34cfbc736005",
      "name": "RSS Korea"
    },
    {
      "parameters": {
        "url": "https://www.tagesschau.de/xml/rss2/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        400,
        128
      ],
      "id": "f2cb05b3-a000-4d91-9b8f-3cd114c7a010",
      "name": "RSS Germany"
    },
    {
      "parameters": {
        "url": "https://www.tagesschau.de/xml/rss2/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        400,
        256
      ],
      "id": "d9ff71d7-80c6-4063-af7c-44db3fbe2d70",
      "name": "RSS Only Germany"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 424275311,
          "callback_query": {
            "id": "2038284110209312678",
            "from": {
              "id": 6917025945,
              "is_bot": false,
              "first_name": ".",
              "language_code": "de"
            },
            "message": {
              "message_id": 391,
              "from": {
                "id": 8651564081,
                "is_bot": true,
                "first_name": "Caffeine In The Morning 2 ☀️☕️",
                "username": "CaffeineN8NBot"
              },
              "chat": {
                "id": 6917025945,
                "first_name": ".",
                "type": "private"
              },
              "date": 1774036703,
              "text": "Von welchen Ländern möchtest du News bekommen?\n\nThis message was sent automatically with n8n",
              "entities": [
                {
                  "offset": 48,
                  "length": 41,
                  "type": "italic"
                },
                {
                  "offset": 89,
                  "length": 3,
                  "type": "text_link",
                  "url": "https://n8n.io/?utm_source=n8n-internal&utm_medium=powered_by&utm_campaign=n8n-nodes-base.telegram_ae5bfaccd136308ef255fbd1f6c02bce7677fb99c2c68ed6106aab7837858c2a"
                }
              ],
              "link_preview_options": {
                "is_disabled": true
              },
              "reply_markup": {
                "inline_keyboard": [
                  [
                    {
                      "text": "🇹🇷 Türkei",
                      "callback_data": "turkey"
                    },
                    {
                      "text": "🇫🇷 Frankreich",
                      "callback_data": "france"
                    },
                    {
                      "text": "🇰🇷 Südorea",
                      "callback_data": "korea"
                    },
                    {
                      "text": "🇩🇪 Nur Deutschland",
                      "callback_data": "germany"
                    }
                  ]
                ]
              }
            },
            "chat_instance": "-5554309530086675761",
            "data": "turkey"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Turkey",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS France",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Korea",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Only Germany",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        []
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "RSS Only Germany",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Turkey": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS France": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Korea": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Germany": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Only Germany": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "49b1bfd5-66a0-42ed-89f8-e1cdc031c6d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae5bfaccd136308ef255fbd1f6c02bce7677fb99c2c68ed6106aab7837858c2a"
  },
  "id": "lfJUZNlOXKBsoyFU",
  "tags": []
}
