Caffeine Bot Schedule.json
{
  "name": "Caffeine Bot Schedule",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"länder\"]}}",
                    "rightValue": "de,tr",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "46bef9cc-8e4f-46a2-a323-e8f711313468"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "db9a8810-736b-41dd-9eb2-6682d01c9825",
                    "leftValue": "={{$json[\"länder\"]}}",
                    "rightValue": "de,fr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "150dcabb-9d94-46a0-bc2a-ac4b6c6fad5c",
                    "leftValue": "={{$json[\"länder\"]}}",
                    "rightValue": "de,kr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e35cf983-428a-4394-8dcf-710a05b3e1f1",
                    "leftValue": "={{$json[\"länder\"]}}",
                    "rightValue": "de",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -416,
        384
      ],
      "id": "211a1231-0f3c-4ccb-9bda-77926132d776",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \n  $input.first().json.items.some(i => i.link?.includes('lemonde'))\n  ? \"WICHTIG: Beginne deine Antwort EXAKT mit dieser Zeile:\\n☀️ Guten Morgen! Hier dein tägliches Koffein am Morgen neben deinem Kaffee, viel Spaß beim Lesen!\\n\\nFasse die deutschen Nachrichten in 5 Bulletpoints auf Deutsch zusammen. Bulletpoints: -. Kein einleitender Satz.\\n\\nSchreibe dann EXAKT diese Zeile:\\n\\n————————\\n\\nSchreibe dann EXAKT diese Zeile:\\n🌙 Bonjour! Voici vos actualités du matin avec votre café:\\n\\nFasse die französischen Nachrichten in 5 Bulletpoints auf Französisch zusammen. Bulletpoints: -.\\n\\nHier sind die Artikel:\\n\" + $input.first().json.items.map(i => i.title + \"\\n\" + (i.content || '')).join(\"\\n\\n\")\n  : $input.first().json.items.some(i => i.link?.includes('hurriyet.com.tr'))\n  ? \"WICHTIG: Beginne deine Antwort EXAKT mit dieser Zeile:\\n☀️ Guten Morgen! Hier dein tägliches Koffein am Morgen neben deinem Kaffee, viel Spaß beim Lesen!\\n\\nFasse die deutschen Nachrichten in 5 Bulletpoints auf Deutsch zusammen. Bulletpoints: -. Kein einleitender Satz.\\n\\nSchreibe dann EXAKT diese Zeile:\\n\\n————————\\n\\nSchreibe dann EXAKT diese Zeile:\\n🌙 Günaydın! Sabah kahveni içerken günlük kafein deposunu doldurmak için haberler:\\n\\nFasse die türkischen Nachrichten in 5 Bulletpoints auf Türkisch zusammen. Bulletpoints: -.\\n\\nHier sind die Artikel:\\n\" + $input.first().json.items.map(i => i.title + \"\\n\" + (i.content || '')).join(\"\\n\\n\")\n  : $input.first().json.items.some(i => i.link?.includes('yna.co.kr'))\n  ? \"WICHTIG: Beginne deine Antwort EXAKT mit dieser Zeile:\\n☀️ Guten Morgen! Hier dein tägliches Koffein am Morgen neben deinem Kaffee, viel Spaß beim Lesen!\\n\\nFasse die deutschen Nachrichten in 5 Bulletpoints auf Deutsch zusammen. Bulletpoints: -. Kein einleitender Satz.\\n\\nSchreibe dann EXAKT diese Zeile:\\n\\n————————\\n\\nSchreibe dann EXAKT diese Zeile:\\n🌙 좋은 아침이에요! 커피와 함께하는 아침 뉴스:\\n\\nFasse die koreanischen Nachrichten in 5 Bulletpoints auf Koreanisch zusammen. Bulletpoints: -.\\n\\nHier sind die Artikel:\\n\" + $input.first().json.items.map(i => i.title + \"\\n\" + (i.content || '')).join(\"\\n\\n\")\n  : \"WICHTIG: Beginne deine Antwort EXAKT mit dieser Zeile:\\n☀️ Guten Morgen! Hier dein tägliches Koffein am Morgen neben deinem Kaffee, viel Spaß beim Lesen!\\n\\nFasse die deutschen Nachrichten in 5 Bulletpoints auf Deutsch zusammen. Bulletpoints: -. Kein einleitender Satz.\\n\\nHier sind die Artikel:\\n\" + $input.first().json.items.map(i => i.title + \"\\n\" + (i.content || '')).join(\"\\n\\n\")\n}}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        592,
        384
      ],
      "id": "f5dcdbc3-2215-4a54-9fc0-cfd27a5f807a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "stepfun/step-3.5-flash:free",
          "mode": "list",
          "cachedResultName": "stepfun/step-3.5-flash:free"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        544
      ],
      "id": "b44a5947-5176-4913-9447-16a21153ef74",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PCT9ICy0r7nyBUXY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        128,
        384
      ],
      "id": "85a4e03c-6beb-4ded-aaf0-f43b636aeb74",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        128,
        560
      ],
      "id": "07765587-30d8-4655-8137-fb485ad309fe",
      "name": "Merge2"
    },
    {
      "parameters": {
        "chatId": "6917025945",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        384
      ],
      "id": "cd648400-5e4c-4ee2-a87b-9b3b91467107",
      "name": "Send a text message6",
      "webhookId": "64b80949-dbef-4575-973e-2adb0de30e49",
      "credentials": {
        "telegramApi": {
          "id": "LFjAYlOrM5q2KtwT",
          "name": "Telegram account REAL"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        128,
        208
      ],
      "id": "a96e6d71-fbdc-462d-a2ca-eaa62521083d",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        384,
        384
      ],
      "id": "0f3a9ad7-415f-487e-9537-4a3fbc539d3e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "https://www.hurriyet.com.tr/rss/anasayfa",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -208,
        128
      ],
      "id": "88851091-b156-4fc9-9c32-2f6a0816403a",
      "name": "RSS Turkey"
    },
    {
      "parameters": {
        "url": "https://www.lemonde.fr/rss/une.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -208,
        272
      ],
      "id": "98ed9424-cbe4-440a-8862-39a2e75b34ea",
      "name": "RSS France"
    },
    {
      "parameters": {
        "url": "https://en.yna.co.kr/RSS/news.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -208,
        416
      ],
      "id": "8f441e32-2105-4b37-8ebd-286e34db8bd9",
      "name": "RSS Korea"
    },
    {
      "parameters": {
        "url": "https://www.tagesschau.de/xml/rss2/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -208,
        560
      ],
      "id": "2722c459-fdc7-467d-ab3e-08c2d4e7e861",
      "name": "RSS Germany"
    },
    {
      "parameters": {
        "url": "https://www.tagesschau.de/xml/rss2/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -208,
        704
      ],
      "id": "7c6d52db-e949-445f-b14b-59b85e94c299",
      "name": "RSS Only Germany"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -928,
        400
      ],
      "id": "c903719b-94ab-4aa4-ba89-1220d1a79e03",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19Nk90nHSh2IcGwIedLCnKnysj-UO5F88TN5dQHCTFx8/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Nk90nHSh2IcGwIedLCnKnysj-UO5F88TN5dQHCTFx8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -768,
        400
      ],
      "id": "8fdc7fb8-1da0-418f-90d8-5c8cf726f32a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sfiSf8BZ2alPB1SW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -624,
        400
      ],
      "id": "5bb8913f-d847-485a-8820-b39f200d0291",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "RSS Turkey",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS France",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Korea",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Only Germany",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Turkey": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS France": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Korea": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Germany": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Only Germany": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "af5dfa6e-e4ac-40f6-a650-2a3273f50432",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae5bfaccd136308ef255fbd1f6c02bce7677fb99c2c68ed6106aab7837858c2a"
  },
  "id": "f12GcERt5WaGNWHZ",
  "tags": []
}